<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Health Chatbot</title>
    <link rel="stylesheet" href="Style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="/AI Chatbot/Images/Chatbot1.png" width="160px">
            </div>
            <nav>
                <ul>
                    <li><a href="">About</a></li>
                    <li><a href="">Product</a></li>
                    <li><a href="">Integrations</a></li>
                    <li><a href="">Resources</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-2">
               <h5>CHATBOT FOR HEALTHCARE</h5>
               <h1>Put patients first</h1>
            </div>
           
        </div>
    </div>
    <form >
        <div class="search">
            <span class="search-icon material-symbols-outlined">search</span>
            <input class ="search-input" type="search" placeholder="Search">
        </div>
    </form>

    <div class="categories">
        <div class="row">
            <div class="col-3">
                <img src="/AI Chatbot/Images/logo4.png" alt="">
                <h1>Answer patients’ questions 24/7</h1>
                <p>Patients who look for answers with unreliable online resources may draw the wrong conclusions. Help them make informed health decisions by sharing verified medical information.

                </p>
            </div>
            <div class="col-3">
                <img src="/AI Chatbot/Images/logo5.png" alt="">
                <h1>Streamline appointment scheduling</h1>
                <p>Reduce calls, chats, and emails that can be automated. Use ChatBot to let your patients schedule and manage their visits with a few taps.</p>
            </div>

            <div class="col-3">
                <img src="/AI Chatbot/Images/logo6.png" alt="">
                <h1>Automate the routine</h1>
                <p>Share information about your working hours, clinicians, treatments, and procedures. Get more time and energy to focus on the patients visiting you</p>
            </div>
           <div class="col-3">
            <img src="/AI Chatbot/Images/logo7.png" alt="">
            <h1>Collect patients’ feedback</h1>
            <p>You can’t be sure your team delivers great service without asking patients first. Use ChatBot to gather customer opinions and find out what you can improve.</p>
           </div>
        </div>
    </div>
  <div class="col-5">
    <img src="/AI Chatbot/Images/logo8.png" width="300px">
    <h1>Secure & compliant</h1>
    <p>ChatBot guarantees the highest standards of privacy and security to help you build and maintain patients’ trust.</p>

  </div>
    
</body>
</html>